body{
  margin:0;
  width:100wv;
  height:100vh;
  cursor:none !important;
}
.cursor{
  width:20px;
  height:20px;
  border:1px solid red;
  border-radius:50%;
  position:absolute;
  transition-duration:100ms;
  transition-timing-function:ease-out;
  animation:cursorAnim .5s infinite alternate;
}
.cursor::after{
  content:"";
  width:20px;
  height:20px;
  position:absolute;
  border:8px solid red;
  border-radius:50%;
  opacity:.5;
  top:-8px;
  left:-8px;
  animation:cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim{
  from{
    transform: scale(1);
  }
  to{
    transform: scale(.7);
  }
}
@keyframes cursorAnim2{
  from{
    transform: scale(1);
  }
  to{
    transform: scale(.4);
  }
}
@keyframes cursorAnim3{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(3);
  }
  100%{
    transform: scale(1);
    opacity:0;
  }
}

.expand{
  animation:cursorAnim3 .5s infinite alternate;
}
___________________________________
#footer{
 font-size: 30px;
  background: -webkit-linear-gradient(#1a75ff, #1a75ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 640px) {
    .section:first-of-type {
        min-height: 0;
    }

    section:first-of-type .hero-inner {
        padding-top: 1rem;
        padding-bottom: 0;
    }

    section:first-of-type .hero-inner .split-item {
        padding: 0;
    }

    section:nth-of-type(2) {
        margin-top: 2rem;
    }

    section:nth-of-type(2) .section-inner {
        padding-top: 1rem;
        padding-bottom: 0.5rem;
    }

    section:nth-of-type(2) .section-inner .cta-slogan {
        margin-bottom: 1rem;
    }
}
